<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="smtpEndpoint" value="" />
    <add key="smtpUsername" value="" />
    <add key="smtpPassword" value="" />
    <add key="smsEndpoint" value="" />
    <add key="alertSendAddress" value="" />
    <add key="alertEmailAddress" value="" />
    <add key="alertPhoneNumber" value="" />
    <add key="maxRunIterations" value="999999" />
    <add key="loopPauseTime" value="15" />
  </appSettings>
</configuration>
